# Normalize text files automatically
* text=auto

# Vivado binary outputs
*.bit   -text
*.dcp   -text
*.ltx   -text
*.mcs   -text
*.mem   -text
*.wdb   -text
*.zip   -text

# HDL / source files (force LF)
*.sv    text eol=lf
*.svh   text eol=lf
*.v     text eol=lf
*.vhd   text eol=lf
*.xdc   text eol=lf
*.tcl   text eol=lf
*.xci   text eol=lf
*.bd    text eol=lf

# GitHub Linguist
build.tcl linguist-vendored
